@{
    ViewData["Title"] = "Feature Toggle Demo";
    

}

    <div class="text-center">
        <h1 class="display-4">Welcome to feature toggle demo</h1>
        
        <button type="button" class="btn btn-primary">Info</button>
        @{ if (ViewBag.FeatureA)
            {
                <button type="button" class="btn btn-secondary">Feature A</button>
            }
        }
        @{ if (ViewBag.FeatureB)
            {
                <button type="button" class="btn btn-secondary">Feature B</button>
            }
        }
        @{ if (ViewBag.FeatureC)
            {
                <button type="button" class="btn btn-secondary">Feature C</button>
            }
        }
        @{ if (ViewBag.FeatureD)
            {
                <button type="button" class="btn btn-secondary">Feature D</button>
            }
        }
    </div>
